:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #050505;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; /* Critical for custom scroll */
  background: #050505;
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: 300;
  letter-spacing: -0.02em;
}

/* Scrollbar hide */
::-webkit-scrollbar {
  display: none;
}
